/***** reset *****/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: no-repeat 0 0;
  background-size: 100% auto;
  font-size: inherit;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  line-height: inherit; }

html {
  height: 100%;
  font-size: 12px; }

body {
  height: 100%;
  overflow: hidden;
  background-color: #ddd;
  color: #222;
  font-family: arial;
  -webkit-user-select: none;
  user-select: none; }

li {
  list-style: none; }

q {
  quotes: none; }

a, input {
  -webkit-tap-highlight-color: transparent; }

.debug {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  line-height: 1.4em;
  padding: 0.5em;
  pointer-events: all;
  -webkit-user-select: all;
  user-select: all; }

.app {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #038ff1; }

.app > * {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.app > * > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

/***** start load *****/
.load {
  -webkit-animation: fadeIn 0.2s 0.1s linear both;
  background: url("../img/loading-bg.png") center bottom no-repeat;
  background-size: 100% auto; }

.load center {
  position: absolute;
  left: 0%;
  top: 15%;
  width: 100%; }

.load figure {
  width: 33%;
  padding-bottom: 75%;
  margin: 0 auto;
  background-image: url(../img/load1.png); }

.load h6 {
  font-size: 1.28em;
  font-weight: 200;
  word-spacing: -2px;
  margin-top: 8%;
  padding-left: 1.5em;
  color: #fff; }

.load h6 q {
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  text-align: left;
  margin-left: 0.1em;
  margin-top: 1.3em;
  color: #fff; }

.load h6 q span {
  -webkit-animation: ani-load1 0.8s linear infinite both;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden; }

@-webkit-keyframes ani-load1 {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-webkit-keyframes ani-load2 {
  0% {
    transform: translateY(-1.5%); }
  50% {
    transform: translateY(1.5%); }
  100% {
    transform: translateY(-1.5%); } }
/***** animate *****/
.no_animation {
  -webkit-animation: none !important; }

@-webkit-keyframes Zindex {
  0% {
    transform: skewX(0); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes fadeIn-t {
  0% {
    transform: translateY(-50%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes fadeIn-b {
  0% {
    transform: translateY(50%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@-webkit-keyframes fadeIn-l {
  0% {
    transform: translateX(-50%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@-webkit-keyframes fadeIn-r {
  0% {
    transform: translateX(50%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
@-webkit-keyframes fadeIn-lt {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0; }
  100% {
    transform: translate(0%, 0%);
    opacity: 1; } }
@-webkit-keyframes fadeIn-rt {
  0% {
    transform: translate(50%, -50%);
    opacity: 0; }
  100% {
    transform: translate(0%, 0%);
    opacity: 1; } }
@-webkit-keyframes fadeIn-lb {
  0% {
    transform: translate(-50%, 50%);
    opacity: 0; }
  100% {
    transform: translate(0%, 0%);
    opacity: 1; } }
@-webkit-keyframes fadeIn-rb {
  0% {
    transform: translate(50%, 50%);
    opacity: 0; }
  100% {
    transform: translate(0%, 0%);
    opacity: 1; } }
@-webkit-keyframes scaleIn1 {
  0% {
    transform: scale(5);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes scaleIn2 {
  0% {
    transform: scale(0.2);
    opacity: 0; }
  70% {
    transform: scale(1.2);
    opacity: 1; }
  100% {
    transform: scale(1);
    opacity: 1; } }
@-webkit-keyframes scaleIn3 {
  0% {
    transform: scaleX(0);
    opacity: 0; }
  100% {
    transform: scaleX(1);
    opacity: 1; } }
@-webkit-keyframes scaleIn4 {
  0% {
    transform: scaleY(0);
    opacity: 0; }
  100% {
    transform: scaleY(1);
    opacity: 1; } }
@-webkit-keyframes scaleOut1 {
  0% {
    transform: scale(1);
    opacity: 1; }
  100% {
    transform: scale(5);
    opacity: 0; } }
@-webkit-keyframes scaleOut2 {
  0% {
    transform: scale(1);
    opacity: 1; }
  70% {
    transform: scale(3);
    opacity: 1; }
  100% {
    transform: scale(2.5);
    opacity: 0; } }
@-webkit-keyframes scaleLoop1 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes scaleLoop2 {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes roundLoop1 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-webkit-keyframes roundLoop2 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
@-webkit-keyframes flashLoop1 {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes flashLoop1b {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@-webkit-keyframes flashLoop2 {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes flashLoop2b {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0.5; } }
@-webkit-keyframes lineIn1 {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-webkit-keyframes lineIn2 {
  0% {
    height: 0; }
  100% {
    height: 100%; } }
@font-face {
  font-family: mvm; }
.hidden {
  display: none !important; }

/*loading*/
.loading {
  -webkit-animation: ani-loading1 0.2s 0.05s linear both;
  display: block;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .loading center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6em;
    padding-bottom: 6em;
    margin: -3em 0 0 -3em;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.7); }
    .loading center i {
      -webkit-animation: ani-loading3 0.4s linear infinite;
      position: absolute;
      top: 25%;
      left: 25%;
      width: 50%;
      height: 50%;
      background-image: url(../img/loading.png); }

.loading_out {
  -webkit-animation: ani-loading2 0.1s linear both; }

@-webkit-keyframes ani-loading1 {
  0% {
    opacity: 0;
    transform: translateZ(0); }
  100% {
    opacity: 1;
    transform: translateZ(0); } }
@-webkit-keyframes ani-loading2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes ani-loading3 {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
/*alert*/
.alert {
  -webkit-animation: ani-alert1 0.1s 0.05s linear both;
  display: block;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); }

.alert > article {
  -webkit-animation: ani-alert2 0.2s 0.1s both;
  position: absolute;
  top: 50%;
  left: 12%;
  width: 76%;
  background: #fff;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.2) 0.2em 0.2em 0.5em; }

.alert > article header {
  padding: 1.4em 1em;
  font-size: 1.2em;
  color: #555;
  line-height: 1.4em;
  text-align: center;
  -webkit-user-select: all;
  user-select: all; }

.alert > article footer {
  text-align: center;
  line-height: 2.8em;
  border-top: solid #ddd 1px;
  font-size: 1.2em; }

.alert > article footer:active {
  background: #f3f3f3; }

.alert > article footer a {
  display: block;
  color: #0af; }

.alert_out {
  -webkit-animation: ani-alert1b 0.1s 0.1s linear both; }

.alert_out > article {
  -webkit-animation: ani-alert2b 0.15s both; }

@-webkit-keyframes ani-alert1 {
  0% {
    opacity: 0;
    transform: translateZ(0); }
  100% {
    opacity: 1;
    transform: translateZ(0); } }
@-webkit-keyframes ani-alert1b {
  100% {
    opacity: 0; } }
@-webkit-keyframes ani-alert2 {
  0% {
    transform: translateY(0%);
    opacity: 0; }
  100% {
    transform: translateY(-50%);
    opacity: 1; } }
@-webkit-keyframes ani-alert2b {
  0% {
    transform: translateY(-50%);
    opacity: 1; }
  100% {
    transform: translateY(-30%);
    opacity: 0; } }
/*btn*/
[class^=btn], [class*=btn] {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 18%;
  font-size: 1.1em;
  line-height: 2em;
  margin: 0 4%;
  font-weight: bold;
  text-align: center;
  white-space: nowrap; }

[class^=btn]:before, [class*=btn]:before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 100%;
  background-color: #fdec9c;
  border: solid #222 0.2em;
  margin-left: -0.2em; }

[class^=btn]:after, [class*=btn]:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 100%;
  margin-top: 0.2em;
  background: url(../img/btn.png) no-repeat 0 9999%;
  background-size: 100% auto; }

[class^=btn]:active:before, [class*=btn]:active:before {
  background-color: #bbe9fe; }

.btn1:after {
  background-position-y: 0%;
  margin-left: -3%; }

.btn2:after {
  background-position-y: 10%;
  margin-left: 3%; }

.btn3:after {
  background-position-y: 50%; }

.btn3 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0; }

.btn4:after {
  background-position-y: 60%; }

.btn5:after {
  background-position-y: 70%; }

.btn6:after {
  background-position-y: 90%; }

/*section*/
.s1 {
  background-image: url("../img/s1-bg-top.png"), url("../img/s1-bg-bottom.png");
  background-repeat: no-repeat, no-repeat;
  background-position: center top, center bottom;
  background-size: 100% auto; }
  .s1 h2 i {
    display: block;
    width: 26em;
    padding-bottom: 31%;
    margin: 2em auto 8%;
    background-image: url(../img/s1-title.png); }
  .s1 center {
    top: 23%;
    margin-top: 0; }
    .s1 center h3 a {
      display: inline-block;
      position: relative;
      width: 31.25%;
      padding-bottom: 31.25%;
      margin: 0 4%;
      background: url(../img/sex.png) no-repeat 0 0;
      background-size: 200% auto; }
      .s1 center h3 a + a {
        background-position-y: 100%; }
      .s1 center h3 a.curr {
        background-position-x: 100%; }
    .s1 center code {
      display: block;
      padding-bottom: 1.137em; }
      .s1 center code span {
        display: inline-block;
        width: 31.25%;
        margin: 0 4%;
        color: #fff;
        font-size: 1.138em;
        font-weight: 300; }
    .s1 center p {
      margin-top: 1.5%;
      font-weight: normal;
      color: #bfe5ff;
      font-size: 0.71em; }
    .s1 center h4 {
      margin-top: 6%; }
      .s1 center h4 a {
        display: inline-block;
        width: 11.5em;
        font-size: 1.26em;
        font-weight: 200;
        line-height: 1em;
        padding: 0.7em 1.4em 0.7em 2.3em;
        border-radius: 2em;
        background: #0878c6;
        border: solid #fff 0.08em;
        color: #fff; }
        .s1 center h4 a:active {
          background-color: #0f42ea; }
        .s1 center h4 a.wear-access {
          position: relative; }
          .s1 center h4 a.wear-access:before {
            position: absolute;
            top: 0.5em;
            left: 0.6em;
            content: '';
            width: 1.4em;
            height: 1.4em;
            background: url("../img/wear-icon.png") no-repeat center center;
            background-size: 100% auto; }
        .s1 center h4 a.signUp-access {
          position: relative; }
          .s1 center h4 a.signUp-access:before {
            position: absolute;
            top: 0.5em;
            left: 0.6em;
            content: '';
            width: 1.4em;
            height: 1.4em;
            background: url("../img/signUp-icon.png") no-repeat center center;
            background-size: 100% auto; }
  .s1 .lottery-access {
    top: 85%;
    text-align: center; }
    .s1 .lottery-access i {
      display: inline-block;
      width: 3.307em;
      height: 3.093em;
      background: url("../img/gift.png") no-repeat center center;
      background-size: 100% auto; }
    .s1 .lottery-access p {
      text-align: center;
      color: #fff;
      font-size: 1.21em;
      text-decoration: underline;
      margin-top: .6em;
      line-height: 1; }

.s2 ol, .s2 menu {
  width: 28.125%;
  font-size: 1.37em;
  color: #fff;
  font-weight: 300; }
.s2 ol {
  height: 100%; }
  .s2 ol li {
    position: relative;
    height: 20%; }
    .s2 ol li a {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      margin-top: -46%;
      text-align: center;
      line-height: 2em;
      font-weight: 300; }
      .s2 ol li a:before {
        content: "";
        display: block;
        width: 64%;
        padding-bottom: 64%;
        margin: 0 auto;
        border-radius: 100%;
        background: url(../img/item-class.png) no-repeat 0 0;
        background-size: 100% auto; }
      .s2 ol li a:active:before {
        background-color: #bbe9fe; }
    .s2 ol li:nth-child(2) a:before {
      background-position-y: 25%; }
    .s2 ol li:nth-child(3) a:before {
      background-position-y: 50%; }
    .s2 ol li:nth-child(4) a:before {
      background-position-y: 75%; }
    .s2 ol li:nth-child(5) a:before {
      background-position-y: 100%; }

.s2 ol.selected li {
  display: none; }

.s2 ol.selected li.curr {
  display: block;
  xxx-height: 8em; }

.s2 ol.selected li.curr a:before {
  background-color: #bbe9fe; }

.s2 ol.selected:after {
  display: none;
  -webkit-animation: ani2-1 0.6s infinite both;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 4.4em;
  padding-bottom: 4.4em;
  margin-left: -2.2em;
  background: url(../img/btn.png) no-repeat 0 30%;
  background-size: 100% auto; }

.s2 .role2 + footer + ol li:nth-child(1) a:before {
  background-position-y: 100%; }

.s2 menu {
  display: none;
  top: 20%;
  bottom: 2.5em;
  overflow: hidden; }

.s2 ul {
  padding: 1px 0; }

.s2 ul li {
  box-sizing: content-box;
  width: 66%;
  padding-bottom: 66%;
  margin: 18% auto;
  border-radius: 1em;
  overflow: hidden;
  background-image: url(../img/item.png); }

.s2 ul li.curr {
  background-color: #fff7d7; }

.s2 ul li.off {
  opacity: 0.3; }

.s2 footer {
  top: 90%;
  text-align: right;
  margin: 0 0 0 11%; }

.s2 footer a {
  width: 36%;
  line-height: 1.5em; }

.s2 figure {
  z-index: 0;
  left: auto;
  right: 0;
  top: 50%;
  margin-top: -83%;
  width: 72%;
  padding-bottom: 132.8%; }

.s2 figure p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.s2 figure p:nth-child(2) {
  z-index: 10; }

.s2 figure p:nth-child(3) {
  z-index: 20; }

.s2 figure p:nth-child(4) {
  z-index: 30;
  background-size: 11em 12.4em;
  top: 13.4em;
  left: 5em; }

.s2 figure p:nth-child(5) {
  z-index: 40;
  background-size: 6em 7.4em;
  top: 4.2em;
  left: 6.5em; }

.s2 figure p:nth-child(6) {
  z-index: 50; }

.s2 figure .body {
  width: 50%;
  height: 100%;
  margin-left: 28%;
  background-image: url(../img/role1.png), url(../img/role-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center 5.5em, bottom center;
  background-size: 100% auto; }

.s2 figure.role2 .body {
  width: 50%;
  height: 100%;
  background-image: url(../img/role2.png), url(../img/role-bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: center 5.5em, bottom center;
  background-size: 100% auto; }

@-webkit-keyframes ani2-1 {
  0% {
    transform: translateY(-3%); }
  50% {
    transform: translateY(3%); }
  100% {
    transform: translateY(-3%); } }
.s3 footer {
  top: 75%;
  padding: 0; }
  .s3 footer menu {
    position: relative;
    margin: 0;
    overflow: hidden;
    background-color: #28a6ff;
    margin-bottom: .6em; }
    .s3 footer menu > div {
      display: inline-block; }
  .s3 footer ul {
    white-space: nowrap;
    height: 5.8em;
    padding-top: .6em;
    padding-left: .8em; }
  .s3 footer li {
    counter-increment: num 1;
    position: relative;
    display: inline-block;
    width: 4.6em;
    height: 4.6em;
    margin: 0 0.4em;
    border: .3em solid #fff;
    border-radius: 5px;
    box-sizing: border-box; }
    .s3 footer li:after {
      position: absolute;
      content: '';
      width: 4em;
      height: 4em;
      border-radius: 0;
      top: 0;
      left: 0;
      background-color: transparent; }
    .s3 footer li.curr:after {
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 20; }
    .s3 footer li.curr:before {
      position: absolute;
      top: 0.9em;
      left: 0.6em;
      width: 2.916em;
      height: 2.062em;
      display: inline-block;
      content: '';
      z-index: 30;
      background-image: url("../img/curr-bg.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100% auto; }

figure.single-figure {
  position: relative;
  width: 80%;
  height: 68%;
  margin-left: 10%;
  margin-top: 5%;
  background-color: #fff;
  background-image: url("../img/title-top.png"), url("../img/title-bottom.png");
  background-repeat: no-repeat, no-repeat;
  background-position: top right, bottom right;
  background-size: 12% auto, 39% auto;
  border-radius: 8px;
  border: 1em solid #fff; }
  figure.single-figure p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  figure.single-figure .bg {
    width: 96%;
    height: calc(100% - 5.8em);
    margin-left: 2%;
    margin-top: 10.5%;
    background-size: 100% 100%; }
  figure.single-figure .role {
    width: 32%;
    height: 82%;
    margin: 9% 0 0 35%;
    background: url(../img/role1.png) no-repeat center center;
    background-size: 100% auto; }
  figure.single-figure .ewm {
    width: 3.2em;
    height: 3.2em;
    background: url(../img/ewm.png) no-repeat center center;
    background-size: 100% auto;
    top: auto;
    left: 0;
    bottom: 0; }

.share {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .share center {
    position: absolute;
    top: .5em;
    left: auto;
    right: 0;
    width: 70%;
    height: 100%;
    background-image: url(../img/share.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100% auto; }

.lottery {
  background-image: url("../img/lottery-bg-top.png"), url("../img/lottery-bg-bottom.png"), url("../img/lottery-bg.jpg");
  background-position: top left, bottom left, center center;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 100% auto; }
  .lottery .lottery-title {
    padding-top: 2.64em;
    padding-bottom: 0.8em;
    text-align: center; }
    .lottery .lottery-title .lottery-title-dark {
      color: #d8ff00; }
    .lottery .lottery-title i {
      display: inline-block;
      width: 16.32em;
      height: 3.47em;
      background: url("../img/lottery-title.png") no-repeat center center;
      background-size: 100% 100%;
      margin-bottom: 1.07em; }
    .lottery .lottery-title p {
      display: inline-block;
      font-size: 1.07em;
      font-weight: normal;
      line-height: 1;
      color: #fff;
      border-radius: 15em;
      background-color: #1b84cd;
      padding: 0.714em 2.5em;
      margin-bottom: 0.8em; }
    .lottery .lottery-title small {
      display: block;
      color: #fff;
      font-size: 0.9em;
      text-align: center; }
  .lottery .lottery-plate {
    width: 20.159em;
    height: 23.601em;
    margin: 0 auto;
    overflow: hidden;
    position: relative; }
    .lottery .lottery-plate .rotate-bg {
      width: 20.159em;
      height: 20.231em;
      background: url("../img/lottery-circle.png");
      background-size: 100% 100%; }
    .lottery .lottery-plate .lottery-star {
      width: 4.975em;
      height: 4.975em;
      position: absolute;
      top: 7.592em;
      left: 7.628em;
      outline: none; }
      .lottery .lottery-plate .lottery-star img {
        width: 4.975em;
        height: 4.975em; }
    .lottery .lottery-plate #lotteryBtn {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0; }

.submit-buttons {
  text-align: center; }
  .submit-buttons a {
    display: inline-block;
    border: .08em solid #fff;
    border-radius: 15em;
    background-color: #177ac3;
    color: #fff;
    font-size: 1.25em;
    line-height: 1;
    padding: 0.6em 1.7em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none; }
    .submit-buttons a.back-button {
      position: relative;
      padding-left: 2.4em;
      margin-right: 1.7em; }
      .submit-buttons a.back-button i {
        position: absolute;
        top: .3em;
        left: .5em;
        display: inline-block;
        width: 1.4em;
        height: 1.41em;
        background: url("../img/lottery-back.png") no-repeat center center;
        background-size: 100% 100%; }
  .submit-buttons.small a {
    padding: 0.35em 0em; }
    .submit-buttons.small a.back-button {
      padding-left: .6em;
      margin-right: .25em; }
      .submit-buttons.small a.back-button i {
        top: .45em;
        left: .55em;
        width: 1.2em;
        height: 1.21em; }
    .submit-buttons.small a.bg-button {
      position: relative;
      padding-left: .6em;
      margin-right: .25em; }
      .submit-buttons.small a.bg-button i {
        position: absolute;
        display: inline-block;
        background: url("../img/background-icon.png") no-repeat center center;
        background-size: 100% 100%;
        top: .58em;
        left: .55em;
        width: 1.2em;
        height: 0.98em; }
  .submit-buttons.small.smaller a {
    padding-right: 1em;
    padding-left: 1em; }
    .submit-buttons.small.smaller a.back-button {
      padding-left: 2em; }
      .submit-buttons.small.smaller a.back-button i {
        top: .25em; }

.prize > div {
  padding: 0 1.67em; }
.prize .form-title {
  padding-top: 1.95em;
  padding-bottom: 1.29em;
  font-size: 2.347em;
  color: #fff;
  font-weight: 300;
  line-height: 1;
  text-align: center; }

.enroll > div {
  padding: 0 1.67em; }
.enroll .form-title {
  padding-top: 1.06em;
  padding-bottom: 0.58em;
  font-size: 2.347em;
  color: #fff;
  font-weight: 300;
  line-height: 1.25;
  text-align: center; }
  .enroll .form-title strong {
    font-weight: 300;
    color: #fff83b; }

.form-item {
  padding: 1.67em 0.72em .9em;
  margin-bottom: 2.275em;
  background-color: #fff;
  border-radius: 8px; }
  .form-item p {
    font-size: 1.28em;
    color: #373737;
    line-height: 1;
    margin-bottom: 1.067em; }
  .form-item input {
    display: block;
    width: 100%;
    border: 1px solid #e8e8e8;
    height: 3.058em;
    color: #474747;
    font-size: 1.067em;
    font-weight: 300;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: .854em;
    padding-left: 0.996em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none; }
    .form-item input::-webkit-input-placeholder {
      color: #b5b5b5; }
  .form-item textarea {
    display: block;
    width: 100%;
    border: 1px solid #e8e8e8;
    color: #474747;
    font-size: 1.067em;
    font-weight: 300;
    overflow: hidden;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: .854em;
    padding-top: .995em;
    padding-bottom: .995em;
    padding-left: 0.996em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    resize: none; }
    .form-item textarea::-webkit-input-placeholder {
      color: #b5b5b5; }
  .form-item blockquote {
    font-size: 1.28em;
    color: #373737;
    display: block;
    line-height: 1.75;
    margin-bottom: .65em; }
  .form-item .form-item-buttons {
    position: relative;
    margin-bottom: .854em; }
    .form-item .form-item-buttons button {
      width: calc(50% - .427em);
      display: inline-block;
      border: 1px solid #e8e8e8;
      border-radius: 8px;
      background-color: #fff;
      color: #b5b5b5;
      font-size: 1.25em;
      font-weight: 300;
      line-height: 1;
      height: 2.61em;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none;
      overflow: hidden;
      box-sizing: border-box; }
      .form-item .form-item-buttons button:last-child {
        position: absolute;
        right: 0; }
      .form-item .form-item-buttons button.curr {
        color: #038ff1;
        border-color: #038ff1; }

.form-button {
  display: block;
  width: 65%;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 15em;
  background-color: #177ac3;
  color: #fff;
  font-size: 1.25em;
  line-height: 1;
  padding: 0.6em 1.7em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; }

.model-dialog {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6); }
  .model-dialog .model-container {
    position: absolute;
    width: 86%;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 8px;
    padding: 1.78em;
    text-align: center; }
    .model-dialog .model-container h3 {
      font-size: 1.42em;
      font-weight: normal;
      color: #383838;
      line-height: 1;
      text-align: center;
      margin-bottom: 0.75em; }
      .model-dialog .model-container h3 .gift-name {
        color: #c83535; }
    .model-dialog .model-container p {
      font-size: .85em;
      font-weight: normal;
      color: #9d9d9d;
      line-height: 1;
      text-align: center;
      margin: .925em 0; }
    .model-dialog .model-container .gift-img {
      width: 100%;
      height: 7.1em;
      border-radius: 3px; }
    .model-dialog .model-container button {
      display: inline-block;
      width: 70%;
      border: .08em solid #fff;
      border-radius: 15em;
      background-color: #177ac3;
      color: #fff;
      font-size: 1.25em;
      line-height: 1;
      padding: 0.6em 1.7em;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: none; }
    .model-dialog .model-container .lottery-none-info i {
      display: inline-block;
      width: 4.267em;
      height: 4.267em;
      background: url("../img/lottery-none-icon.png") no-repeat center center;
      background-size: 100% auto;
      margin-bottom: 1.42em; }
    .model-dialog .model-container .lottery-none-info h3 {
      margin-bottom: 1.42em; }

/*# sourceMappingURL=style.css.map */
